/* $Header: /cvsroot/pgdocptbr/pgsgml800/doc/src/sgml/stylesheet.css,v 1.2 2005/07/17 15:51:39 halleypo Exp $ */

/*
  PostgreSQL.org - Global Styles
*/

body {
  margin: 1em;
  padding: 0;
  font-family: arial,helvetica,sans-serif;
  font-size: 100%;
  color: #000;
  background-color: #fff;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0em;
}

h2 {
  font-size: 1.2em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h3 {
  font-size: 1.0em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: normal;
}

h5 {
  font-size: 0.9em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: normal;
}

h6 {
  font-size: 0.9em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: normal;
}

img {
  border: 0;
}

pre {
  font-family: monospace;
  font-size: 1.0em;
}

strong, b {
  font-weight: bold;
}

/*
  PostgreSQL.org - Text Styles
*/

/* Heading Definitions */

h1 {
  color: #EC5800;
  font-family:arial,helvetica,sans-serif;
}

h2 {
  color: #666; 
  font-family:arial,helvetica,sans-serif;
}

h3 { 
  color: #666; 
  font-family:arial,helvetica,sans-serif;
}

h4 { 
  color: #666; 
  font-family:arial,helvetica,sans-serif;
}

/* Link Styles */

a:link     { color:#003399; text-decoration: underline; font-family:arial,helvetica,sans-serif; font-size:10pt;}
a:visited  { color:#003399; text-decoration: underline; font-family:arial,helvetica,sans-serif; font-size:10pt;}
a:active   { color:#003399; text-decoration: underline; font-family:arial,helvetica,sans-serif; font-size:10pt;}
a:hover    { color:#000000;}

/* ************************************************************************** */

/* decoration for formal examples */

DIV.EXAMPLE {
	padding-left: 15px;
	border-style: solid;
	border-width: 0px;
	border-left-width: 2px;
	border-color: black;
	margin: 0.5ex;
}

/* less dense spacing of TOC */

.SET .TOC DL DT, .BOOK .TOC DL DT {
	padding-top: 1.5ex;
	padding-bottom: 1.5ex;
}

.SET .TOC DL DL DT, .BOOK .TOC DL DL DT {
	padding-top: 0ex;
	padding-bottom: 0ex;
}

.SYNOPSIS {
	margin-left: 4ex;
}

/* miscellaneous */

/* .NAVHEADER TH	{ font-style: italic; } */
.COMMENT	{ color: red; }
.STRUCTFIELD, .STRUCTNAME, .FIRSTTERM {
	color: #000000;
        font-family: arial,helvetica,sans-serif;
}
.GUIMENU, .GUISUBMENU, .GUIMENUITEM, .GUILABEL, .GUIBUTTON, .SGMLTAG,
.INTERFACE, .LITERAL, .CITETITLE,
.FILENAME, .CLASSNAME, .SYSTEMITEM,
.ERRORNAME {
	color: #003333;
        font-family: arial,helvetica,sans-serif;
}
.REFNAMEDIV {
	color: #003399;
        font-family: arial,helvetica,sans-serif;
}

VAR		{ font-family: monospace; font-style: italic; }

.EMPHASIS {
	color: purple;
        font-family: arial,helvetica,sans-serif;
}

.REPLACEABLE, .TYPE {
        font-family: arial,helvetica,sans-serif;
        font-style: italic;
}
.PRODUCTNAME, .ACRONYM {
        font-family: arial,helvetica,sans-serif;
}

.COMPUTEROUTPUT {
	color: maroon;
}
.USERINPUT {
	color: navy;
}

.PROGRAMLISTING {
	margin-left: 4ex;
	color: navy;
}

.VARNAME, .OPTION, .ENVAR, .APPLICATION, .FUNCTION, .COMMAND {
	color: #520031;
}

.SCREEN {
	margin-left: 4ex;
	color: #184A18;
}

.PROMPT {
	color: #184A18;
}

.LITERALLAYOUT {
        font-family: monospace;
        font-size: 1.0em;
	margin-left: 4ex;
	color: navy;
}

.AHREF {
        color:#003399;
        text-decoration: underline;
        font-family:arial,helvetica,sans-serif;
        font-size:10pt;
}

.ANAME1 {
  color: #EC5800; 
  font-family:arial,helvetica,sans-serif;
}

.ANAME2 {
  color: #666; 
  font-family:arial,helvetica,sans-serif;
}

.NULO {
}